$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "../scripts/components/list/list.scss";
@import "../scripts/components/listItem/listItem.scss";
@import "../scripts/directives/status/status.scss";
@import "../scripts/directives/boldHighlightChars/boldHighlightChars.scss";

p {
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

ul {
    list-style-type: none;
    padding-left: 0px;
  }